body {
  background-color: #f9f9f9;
}

header {
	background-color: #15110e;
	font-family: Verdana, sans-serif;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
  height: 200px;
  width: auto;
}

.banner-header {
	background-image: url(https://images.pexels.com/photos/33320781/pexels-photo-33320781.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 20px;
	color: white;
	text-align: center;
}

/* -----NAVAGATION----- */

nav ul {
	display: flex;
	gap: 20px;
	list-style: none;
	background-color: #15110e;
	padding: 10px;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 1px 5px;
}

nav a:hover {
  background-color: #3a332d;
  border-radius: 5px;
}

nav ul li {
	color: white;
}

/* -----HEADER TEXT----- */

h1 {
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
}

h2 {
	font-style: italic;
	font-size: 40px;
}

h3 {
	font-style: italic;
	font-size: 30px;
}

h4 {
}

p {
}

.center-text {
  text-align: center;
}

.home-layout {
	display: flex;
	gap: 30px;
	max-width: 1200px;
	margin: 10px auto;
	align-items: flex-start;
}

.home-logo {
	width: 150px;
	height: auto;
	margin-bottom:0px;
}

.home-content {
	flex: 2;
	max-width: none;
	align-items: flex-start;
}

.home-gallery {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 35px;
	max-width: 100%;
	margin-right: auto;
}

.home-gallery img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.home-gallery img:hover {
  transform: scale(1.05);
}

.location iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 10px;
}

/* -----REGISTER----- */

.content-wrapper {
    display: flex;
    gap: 30px;
    max-width: 1100px;
    margin: 40px auto;
    align-items: flex-start;
}

.content-wrapper main {
    flex: 3;
}

.login-panel {
    flex: 1;
    max-width: 320px;
    margin-left: auto;
    float: right;
}

div.flex-container {
	display: flex;
	flex-direction: row;
}

div.flex-container > div {
	margin: 0px;
}

/* -----HOMEPAGE----- */

.home-content {
	margin-top: 2%;
	max-width: 500px;

}

/* -----ABOUT----- */

.about-images {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 15px;
}

.about-intro {
	text-align: center;
  	border-radius: 10px;
  	max-width: 600px;
	margin: 0px auto;
}

.about-images img {
  max-width: 250px;
  width: 100%;
  border-radius: 10px;
}

.about-quotes {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.about-quote {
  max-width: 200px;
  border-radius: 5px;
}

.about-images img:hover {
  transform: scale(1.05);
}

/* -----ECLASSROOM----- */

.eclassroom {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.eclassroom main {
  flex: 3;
}

.eclassroom .studenttestimony {
  flex: 1;
}

/* -----ACADEMIC CONTENT----- */

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.course {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 800px;
  width: 100%;
}

.course-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  display: block;
}

.course-image img:hover {
  transform: scale(1.05);
}

.course:nth-child(even) {
  flex-direction: row-reverse;
}

/* -----ACCOMMODATION----- */

.accommodations .accommodation {
	display: block;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
}

.accommodation {
	display: flex;
	align-items: center;
	gap: 30px;
	max-width: 500px;
	width: 100%;
}

.accommodation-image img {
  	width: 100%;
  	max-width: 500px;
  	height: auto;
  	border-radius: 10px;
	margin: 0 auto;
  	display: block;
}

.accommodation-image img:hover {
  	transform: scale(1.05);
}

.eclassroom {
	display: flex;
	gap: 30px;
  	align-items: center;
  	max-width: 1000px;
  	margin: 0 auto;
}

.eclassroom main {
  	flex: 3;
}

.eclassroom-login {
  	flex: 1;
}

.eclassroom-image img {
  	width: 100%;
  	max-width: 1000px;
  	height: auto;
 	 border-radius: 10px;
 	 display: block;
}

/*-----FILEDSET-----*/

fieldset {
  	border: 2px solid #15110e;
  	border-radius: 8px;
  	padding: 15px;
  	background-color: #f9f9f9;
 	margin-bottom: 20px;
}

fieldset:hover {
	background-color: #eeeeee;
}

.register fieldset {
	background-color: #15110e;
	border-radius: 8px;
	color: #f9f9f9;
}

legend {
  	padding: 0 10px;
  	color: #15110e;
}

.register filedset a {
  	padding: 0 10px;
  	color: #f9f9f9;
}

table {
	width: 100%;
	max-width: 850px;
	background-color: white;
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	border: 1px solid #D3DEE3;
	padding: 5px;
	text-align: left;
}

thead th {
	background-color: #15110e;
	color: white;
	text-transform: uppercase;
}

tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

tbody tr:hover {
	background-color: #eeeeee;
}

iframe{
	height:50%;
	boarder: none;
}

/* -----DEVICE ADJUSTING----- */

@media screen and (max-width:600px) {
 	div.flex-container {
	flex-direction: column;
	}
}

/* -----FOOTER----- */

.sub-footer {
	background-color: #eeeeee;
	padding: 10px 20px;
	border-top: 2px solid #15110e;
}

.sub-footer-container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	max-width: 1200px;
	margin: 0 auto;
}

.sub-footer-column li {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	color: #333;
}

footer {
	color: #f1f1f1;
	background-color: #15110e;
	text-align: center;
	padding: 10px;
}